:root {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  --line-height: 1.5;
  --color-white: #ffffff;
  --color-text: #F7F7F7;
  --color-interactiveEl: #E44848;
  --color-background: #6C717B;
}

